<div class="container">
  <div class="row">
    <div class="col col-md-5">
      <h1 class="mt-2 mb-2">Awesome Products</h1>

      <% @products.each do |product| %>
        <div class="card-product mb-3">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
          <div class="card-product-infos">
            <h2><%= product.name %></h2>
            <p><%= product.tagline %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
